table, th, td {
    width:70%;
    border: 5px solid white;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
}

th {
    background-color: #7aa0a09c;
}

td {
    background-color: #b9ebebd4;
}

ul {
    list-style-type: none;
}

ul li:before {
    content: "✧ ";
    color: #7aa0a09c;
    font-weight: bold;
}

strong {
    color: #455c5c77;
}